<h1
  (mouseover)="naglowek = 'Sklep TAIiB :)'"
  (mouseout)="naglowek = 'Sklep TAIiB'">
  {{ naglowek }}
</h1>

<p>LICZBA PRODUKTÓW: {{ produkty.length }}</p>

<button (click)="toggleWidocznosc()">
  {{ pokazProdukty ? 'Ukryj produkty' : 'Pokaż produkty' }}
</button>

<div *ngIf="pokazProdukty">
  <app-product
    *ngFor="let produkt of produkty"
    [product]="produkt"
    (dodajDoKoszyka)="dodajDoKoszyka($event)">
  </app-product>
</div>

<app-cart
  [wartoscKoszyka]="wartoscKoszyka"
  (wyczysc)="wyczyscKoszyk()">
</app-cart>
